dovecot_config_version = 2.4.1
dovecot_storage_version = 2.4.1

mail_privileged_group = mail
mail_driver = mbox
mail_path = ~/mail
mail_inbox_path = /var/mail/%{user}

userdb passwd {
}

passdb pam {
}

protocols = " imap"

namespace inbox {
  inbox = yes

  mailbox Trash {
    auto = subscribe
    special_use = \Trash
  }
  mailbox Sent {
    auto = subscribe
    special_use = \Sent
  }
  mailbox Drafts {
    auto = subscribe
    special_use = \Drafts
  }
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0660
    user = postfix
  }
}

auth_mechanisms = plain login

ssl = required
ssl_server_cert_file = /etc/ssl/certs/chain.pem
ssl_server_key_file = /etc/ssl/private/{{ inventory_hostname }}.pem

