smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = 2
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_tls_chain_files = /etc/ssl/private/{{ inventory_hostname }}.pem, /etc/ssl/certs/chain.pem
smtpd_tls_security_level = encrypt
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_relay_restrictions = permit_sasl_authenticated, permit_mynetworks, permit_tls_clientcerts, reject_unauth_destination
myhostname = {{ inventory_hostname }}.{{ domain }}
myorigin = {{ domain }}
mydestination = {{ domain }}
{%- for alias in domain_aliases %}
, {{ alias }}
{%- endfor %}
, {{ inventory_hostname }}, {{ inventory_hostname }}.{{ domain }}, localhost
alias_maps = hash:/etc/aliases, hash:/etc/postfix/external-aliases/list-aliases
alias_database = hash:/etc/aliases, hash:/etc/postfix/external-aliases/list-aliases
transport_maps = hash:/var/lib/mailman3/data/postfix_lmtp
local_recipient_maps = proxy:unix:passwd.byname $alias_maps hash:/var/lib/mailman3/data/postfix_lmtp
relay_domains = hash:/var/lib/mailman3/data/postfix_domains
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 5000000000
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4
smtpd_tls_ask_ccert = yes
relay_clientcerts = hash:/etc/postfix/relay_clientcerts
smtpd_tls_fingerprint_digest = sha256
milter_default_action = accept
milter_protocol = 2
smtpd_milters = inet:127.0.0.1:8891
non_smtpd_milters = inet:127.0.0.1:8891
