smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = 2
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_tls_cert_file = /etc/ssl/certs/{{ inventory_hostname }}.pem
smtpd_tls_key_file = /etc/ssl/private/{{ inventory_hostname }}.pem
smtpd_tls_security_level = encrypt
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_relay_restrictions = permit_sasl_authenticated, permit_mynetworks, permit_tls_clientcerts, reject_unauth_destination
myhostname = {{ inventory_hostname }}.{{ domain }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ domain }}
mydestination = {{ domain }}, {{ inventory_hostname }}, {{ inventory_hostname }}.{{ domain }}, localhost, localhost.{{ domain }}, localhost.localdomain
{%- for alias in domain_aliases %}
{{ alias }}, {{ inventory_hostname }}.{{ alias }}, localhost.{{ alias }}
{%- endfor +%}
relayhost = 
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 5000000000
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4
smtpd_tls_ask_ccert = yes
relay_clientcerts = hash:/etc/postfix/relay_clientcerts
smtpd_tls_fingerprint_digest = sha256
milter_default_action = accept
milter_protocol = 2
smtpd_milters = inet:127.0.0.1:8891
non_smtpd_milters = inet:127.0.0.1:8891
